.MuiBox-root {
    background: white;
    height: 100%;
    padding: 24px;
    padding-top: 32px;
    border-radius: 8px;
    min-height: 300px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin-right: 24px;
    position: relative;
    min-width: 816px;
}